@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --color-blue: #2296d2;
    --color-coral: #FF7A59;
    --color-darkcoral: #F2545B;
    --color-text: #21203A;
    --color-lightgray: rgb(242, 244, 248);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background: #FFF;
    line-height: 1.2;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    color: var(--color-text);
}

a {
    text-decoration: none;
    color: #FFF;
    font-weight: 300;
}

ul, li {
    list-style: none;
    text-decoration: none;
    display: inline;
}

h1 {
    text-transform: uppercase;
    font-size: 63px;
    font-weight: 800;

}

.container {
    width: 70%;
    max-width: 100%;
    margin: 50px auto;
    padding: 10px;
}

.top-nav {
    width: 100%;
    max-width: 100%;
    background-color: var(--color-blue);
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: right;
    align-items: center;
    font-size: 18px;
    padding: 6px;
    color: #fff;
}

.top-nav > * {
    padding: 0px 15px;
}

.bot-nav {
    display: flex;
    flex: 1;
    justify-content: space-around;
    background-color: var(--color-lightgray);
    align-items: center;
    width: 100%;
    max-width: 100%;
    padding: 6px;
    font-size: 18px;
}

.bot-nav li {
    margin: 0 4px;
}

.bot-nav img {
    width: 366px;
}

.right-nav a {
    color: var(--color-text);
    font-weight: 400;
}

.registration {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
    gap: 50px;

}

.registration img {
    width: 100%;
    max-width: 100%;
    border-radius: 50%;
    grid-column: 2;
    grid-row: 1 / span 2;
    justify-self: last baseline;
   
}

.registration p {
    font-size: 34px;
    font-weight: 400;
    line-height: 37px;
    letter-spacing: 1.6px;
    word-spacing: 4px;
    grid-row: 2;
}

.form-container {
    margin: 50px auto;
    background-color: var(--color-lightgray);
    width: 50%;
    padding: 20px;
    border-radius: 12px;
    border: 2px solid var(--color-blue);
}

.form-container h2 {
    text-align: center;
    font-size: 2.1rem;
    margin: 20px 0;
}

.registration-form {
    display: flex;
    flex-direction: column;
    flex: 1;
    flex-wrap: wrap;
}

.form-input {
    display: grid;
    grid-template-rows: 90px;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin: 15px 0;
}

.form-input label {
    font-weight: 600;
    font-size: 1.2rem;
    text-align: right;
    margin-right: 30px;
    display: flexbox;
    flex-wrap: wrap;


}


.form-input input {
    margin: 10px 0;
    padding: 3px;
}

.registration-form button {
    padding: 8px;
    font-size: 1.1rem;
    text-transform: uppercase;
    font-family: "Montserrat", Arial, sans-serif;
    color: #fff;
    background-color:var(--color-blue);
    border: none; 
    border-radius: 16px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.registration-form button:hover {
    background-color: var(--color-coral);
    transition: background-color ease-out .3s;
    cursor: pointer;
}

.registration-form button:active {
    background-color: var(--color-blue);
}

.password-prompt {
    font-weight: 300;
    font-size: .7rem;
}

.required-icon {
    color: var(--color-darkcoral);
    margin-left: 5px;
}
.error input {
    border: 1px solid var(--color-darkcoral);
}

.error-message {
    color: var(--color-darkcoral);
    font-size: 10px;
    margin-top: 20px;
    grid-column: 2;
    
}

footer {
    width: 100%;
    max-width: 100%;
    background-color: var(--color-blue);
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    color: #FFF;
    font-size: .9rem;
    font-weight: 500;
}

.left-footer li {
    display: inline-flex;
    justify-content: space-around;
    padding: 10px;
}

.left-footer a:hover {
    color: var(--color-text);
    transition: color .3s ease-in;
}

